.hero-section {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-business-planning-events-reminder-3d-illustration-of-monthly-calendar-alert-image_3611062.jpg");
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-overlay {
  background-color: rgba(255, 255, 255, 0.459);
  padding: 90px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
}
.home{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-business-planning-events-reminder-3d-illustration-of-monthly-calendar-alert-image_3611062.jpg");
   background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}